
@font-face {
  font-family: NationwideFounders;      
  src: url('../fonts/nationwidefounders-400-normal.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: PPEditorialNew;      
  src: url('../fonts/ppeditorialnew-700-normal.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: NationwideFounders;      
  src: url('../fonts/nationwidefounders-500-normal.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: NationwideFounders;      
  src: url('../fonts/nationwidefounders-700-normal.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}
